.viewUser{
    display: flex;
     .viewUserContainer{
        flex: 6;

        .viewUserContent{
            -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
            box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
            margin: 10px;
            padding: 10px;
            border-radius: 15px;

            .top, .bottom {
                padding: 20px;
                margin: 20px;
                display: flex;
                flex-direction: column;

                h2{
                    border-bottom: 1px solid darkslategrey;
                    padding-bottom: 10px;
                }

                .detailField{
                    display: flex;
                    width: 50%;
                    margin-bottom: 15px;
                    label{
                        font-size: 20px;
                        flex: 1;
                    }

                    span{
                        display: flex;
                        flex: 2;
                        font-size: 20px;
                    }
                }
            }

            .buttonBack{
                display: flex;
                justify-content: flex-end;
                margin-right: 20px;
                margin-bottom: 10px;
                Button{
                    margin-right: 10px;
                }
            }
        }
     }
}